body {
  background-image: url('../imagenes/fondo.jpg');
  background-size: cover;
}

canvas {
  margin: auto;
  display: flex;
  margin-top: calc(50vh - 286px);
}

.bottom {
  position: absolute;
  text-align: center;
  bottom: 10px;
  color: #FFF;
  width: 100%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}